{% extends "layouts/main-layout.html" %}
{% load static %}
{% load team_tags %}
{% block title %}
    {% include 'layouts/head-page-meta.html' with title=heading %}
{% endblock %}

{% block css1 %}
    <!-- Add your CSS block content here if any -->
    <link rel="stylesheet" href={% static "libs/simple-datatables/dist/style.css" %}/>
    <link rel="stylesheet" href={% static "libs/notifier-js/dist/css/notifier.css" %}/>
{% endblock %}

{% block css2 %}
    <!-- Add your second CSS block content here if any -->
{% endblock %}

{% block mainContent %}
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card table-card">
                <div class="card-header">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h5 class="mb-3 mb-sm-0">Chart of Accounts</h5>
                        <div>
                            <a href="{% url 'zoho:fetchChartAccount' team.slug %}" class="btn btn-primary">
                                Sync COA
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table" id="pc-dt-simple">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Account ID</th>
                                <th>Account Name</th>
                                <th>Created At</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for coa in all_coa %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ coa.accountId }}</td>
                                    <td>{{ coa.accountName }}</td>
                                    <td>{{ coa.created_at }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock %}

{% block js1 %}
    <script type="module">
        import {DataTable} from '/static/libs/simple-datatables/dist/module.js';

        window.dt = new DataTable('#pc-dt-simple');
    </script>
{% endblock %}








