{% extends "layouts/auth-layout.html" %}
{% load i18n %}
{% load static %}
{% load account %}
{% load form_tags %}
{% block title %}
    {% include 'layouts/head-page-meta.html' with title='Forgot password' %}
{% endblock %}

{% block css1 %}
{% endblock %}

{% block mainContent %}
    <div class="auth-main">
        <div class="auth-wrapper v2">
            <div class="auth-sidecontent">
                <img alt="images"
                     class="img-fluid img-auth-side"
                     src={% static "assets/images/authentication/img-auth-sideimg.jpg" %}/>
            </div>
            <div class="auth-form">
                <div class="card my-5">
                    <div class="card-body">
                        <a href="#"><img class="mb-4 img-fluid" alt="img"
                                         src={% static "assets/images/logo-dark.svg" %}/></a>
                        <div class="d-flex justify-content-between align-items-end mb-4">
                            <h3 class="mb-0"><b>Forgot Password</b></h3>
                            <a href="{% url 'account_login' %}" class="link-primary">Back to Login</a>
                        </div>
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {% render_field form.email %}
                            <div class="mt-2">
                                <input class="pg-button-primary btn btn-primary" type="submit"
                                       value="{% translate 'Send Password Reset' %}">
                            </div>
                            <p class="mt-4 text-sm text-muted">Do not forgot to check SPAM box.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock %}
{% block js1 %}

{% endblock %}
