{% extends "layouts/main-layout.html" %}
{% load static %}
{% load team_tags %}
{% block title %}
    {% include 'layouts/head-page-meta.html' with title=heading %}
{% endblock %}

{% block css1 %}
    <!-- Add your CSS block content here if any -->
    <link rel="stylesheet" href={% static "libs/notifier-js/dist/css/notifier.css" %}/>
{% endblock %}

{% block css2 %}
    <!-- Add your second CSS block content here if any -->
{% endblock %}

{% block mainContent %}
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between mb-3s">
                    <h5 class="mb-0">Credentials</h5>
                    <a href="{% url 'zoho:generate_token' team.slug %}">
                        <i data-feather="refresh-ccw"></i>
                    </a>
                </div>
                <div class="card-body">
                    <p>Organization ID - {{ userCredentials.organisationId }}</p>
                    <p>Client ID - {{ userCredentials.clientId }}</p>
                    <p>Client Secret - {{ userCredentials.clientSecret }}</p>
                    <p>
                        Access Token -
                        {% if userCredentials.accessToken %}
                            {{ userCredentials.accessToken }}
                        {% else %}
                            <span class="badge badge-gradient-warning">Not Generated</span>
                        {% endif %}

                    </p>
                    <p>
                        Refresh Token -
                        {% if userCredentials.refreshToken %}
                            {{ userCredentials.refreshToken }}
                        {% else %}
                            <span class="badge badge-gradient-warning">Not Generated</span>
                        {% endif %}
                    </p>
                    <p>Last Sync - {{ userCredentials.updated_at }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock %}

{% block js1 %}
    <script src={% static "libs/notifier-js/dist/js/notifier.js" %}></script>
    <script>
        {% if messages %}
            {% for message in messages %}
                // Determine the notification type based on the message tags
                let type = '';
                let icon = '';
                if ("{{ message.tags }}" === "success") {
                    type = 'success';
                    icon = '/static/assets/images/notification/ok-48.png';
                } else if ("{{ message.tags }}" === "info") {
                    type = 'info';
                    icon = '/static/assets/images/notification/survey-48.png';
                } else if ("{{ message.tags }}" === "warning") {
                    type = 'warning';
                    icon = '/static/assets/images/notification/medium_priority-48.png';
                } else if ("{{ message.tags }}" === "error") {
                    type = 'danger';
                    icon = '/static/assets/images/notification/high_priority-48.png';
                }
                // Display the notification using notifier.js
                notifier.show(
                    'Notification', // Title
                    "{{ message }}", // Message content
                    type, // Notification type (success, info, warning, danger)
                    icon, // Icon URL
                    4000 // Auto-close timeout in milliseconds
                );
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}
