{% load static %}
{% load team_tags %}
<!doctype html>
<html lang="en">
<head>
    {% block title %}
    {% endblock %}
    {% block css1 %}
    {% endblock %}

    {% include './head-css.html' %}

    {% block css2 %}
    {% endblock %}
</head>

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-layout="vertical" data-pc-direction="ltr"
      data-pc-theme_contrast="" data-pc-theme="light">

{% include './layout-vertical.html' %}
<div class="pc-container">
    <div class="pc-content">
        {% block mainContent %}
        {% endblock %}
    </div>
</div>
<!-- Add your main content here -->
{% include './footer-block.html' %}
{% include './customizer.html' %}

{% block js1 %}
{% endblock %}
{% include './footer-js.html' %}
{% block js2 %}
{% endblock %}
<body>

</html>
