{% extends "layouts/main-layout.html" %}
{% load static %}
{% load team_tags %}
{% block title %}
    {% include 'layouts/head-page-meta.html' with title=heading %}
{% endblock %}

{% block css1 %}
    <!-- Add your CSS block content here if any -->
  <link href="{% static "libs/simple-datatables/dist/style.css" %}" rel="stylesheet"/>
    <link href="{% static "libs/notifier-js/dist/css/notifier.css" %}" rel="stylesheet"/>
{% endblock %}

{% block css2 %}
    <!-- Add your second CSS block content here if any -->
{% endblock %}

{% block mainContent %}
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card table-card">
                <div class="card-header">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h5 class="mb-3 mb-sm-0">TDS/TCS</h5>
                        <div>
                            <a href="{% url 'zoho:fetch_tds_tcs_tax' team.slug %}" class="btn btn-primary">
                                Sync TDS/TCS
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table" id="pc-dt-simple">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tax ID</th>
                                <th>Tax Name</th>
                                <th>Tax Percentage</th>
                                <th>Tax Type</th>
                                <th>Created At</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tax in all_tds_tcs %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ tax.taxId }}</td>
                                    <td>{{ tax.taxName }}</td>
                                    <td>{{ tax.taxPercentage }}</td>
                                    <td>{{ tax.taxType }}</td>
                                    <td>{{ tax.created_at }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock %}

{% block js1 %}
    <script type="module">
        import {DataTable} from '/static/libs/simple-datatables/dist/module.js';

        window.dt = new DataTable('#pc-dt-simple');
    </script>
{% endblock %}





