{% extends "layouts/main-layout.html" %}
{% load static %}
{% load team_tags %}
{% load widget_tweaks %}
{% block title %}
    {% include 'layouts/head-page-meta.html' with title=heading %}
{% endblock %}

{% block css1 %}
    <!-- Add your CSS block content here if any -->
    <!--jquery cdn-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/image-zoom.min.css' %}"/>
    <style>
        .responsive-embed {
            width: 100%;
            max-width: 100%;
            height: auto;
        }

        @media (max-width: 768px) {
            .responsive-embed {
                height: 400px; /* Adjust the height for smaller screens */
            }
        }

        @media (min-width: 769px) {
            .responsive-embed {
                height: 700px; /* Adjust the height for larger screens */
            }
        }
    </style>
{% endblock %}

{% block css2 %}
    <!-- Add your second CSS block content here if any -->
{% endblock %}

{% block mainContent %}
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h5 class="mb-3 mb-sm-0">Synced Bill</h5>
                        <div>
                            <a href="{% url 'tally:vendor_bill_list' team.slug %}" class="btn btn-primary">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bill and Form -->
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <span class="text">Original Bill</span>
                </div>
                <div class="card-body d-flex justify-content-center align-items-center">
                    {% if detailBill.file %}
                        {% if ".pdf" in detailBill.file.url %}
                            <embed src="{{ detailBill.file.url }}" type="application/pdf"
                                   class="responsive-embed">
                        {% else %}
                            <img src="{{ detailBill.file.url }}" alt="File" class="img-fluid"
                                 id="bill_image">
                        {% endif %}
                    {% else %}
                        <p>No file uploaded.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <span class="text">Document ID: &nbsp;{{ detailBill.billmunshiName }}</span>
                </div>
                <div class="card-body">
                     <form method="post" action="">
                        {% csrf_token %}
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <label for="{{ bill_form.vendor.id_for_label }}" class="form-label">Select
                                    Vendor</label>
                                {% render_field bill_form.vendor class="form-select js-example-basic-single" %}
                                {{ bill_form.vendor.errors }}
                                <p class="text-muted" id="gst_field"> GST :</p>
                                {% if not bill_form.vendor.value or bill_form.vendor.value == "------" %}
                                    <span class="badge text-bg-success">New Vendor</span> :
                                    {{ detailBill.analysed_data.from.name }}
                                {% endif %}

                            </div>
                            <div class="col-md-4">
                                <label for="{{ bill_form.bill_no.id_for_label }}" class="form-label">Bill
                                    No.</label>
                                {% render_field bill_form.bill_no class="form-control" %}
                                {{ bill_form.bill_no.errors }}
                            </div>
                            <div class="col-md-4">
                                <label for="{{ bill_form.bill_date.id_for_label }}" class="form-label">Bill
                                    Date</label>
                                {% render_field bill_form.bill_date class="form-control" type="date" %}
                                {{ bill_form.bill_date.errors }}
                                <p class="text-muted"> Date Format: &nbsp; DD/MM/YYYY</p>
                            </div>
                        </div>
                        <!-- Products -->
                        {{ formset.management_form }}
                        <div class="row mt-2 table-responsive">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Item</th>
                                    <th>Chart of Accounts</th>
                                    <th>Select Vendor</th>
                                    <th>Select Mode</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- formset non-form errors -->
                                {% for error in formset.non_form_errors %}
                                    <span style="color: red">{{ error }}</span>
                                {% endfor %}
                                {% for form in formset %}
                                    <tr id="data-{{ forloop.counter }}">
                                        <td>{{ forloop.counter }}</td>
                                        <td hidden="hidden">{{ form.id }}</td>
                                        <td>{% render_field form.item_details class="form-control" rows='1' %}</td>
                                        <td>
                                            {% render_field form.chart_of_accounts class="js-example-basic-single" %}
                                        </td>
                                        <td>{% render_field form.vendor class="js-example-basic-single" %}</td>
                                        <td>
                                            {% render_field form.debit_or_credit class="form-select" %}
                                        </td>
                                        <td>{% render_field form.amount class="form-control" %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- CGST/IGST/SGST -->
                        <div class="row m-2">
                            <div class="col-md-3">
                                <label for="{{ bill_form.csgt.id_for_label }}" class="form-label">CGST
                                    (INR)</label>
                                {% render_field bill_form.cgst class="form-control" %}
                                {{ bill_form.cgst.errors }}
                            </div>
                            <div class="col-md-3">
                                <label for="{{ bill_form.sgst.id_for_label }}" class="form-label">SGST
                                    (INR)</label>
                                {% render_field bill_form.sgst class="form-control" %}
                                {{ bill_form.sgst.errors }}
                            </div>
                            <div class="col-md-3">
                                <label for="{{ bill_form.igst.id_for_label }}" class="form-label">IGST
                                    (INR)</label>
                                {% render_field bill_form.igst class="form-control" %}
                                {{ bill_form.igst.errors }}
                            </div>
                            <!-- Total of Bill -->
                            <div class="col-md-3">
                                <label for="{{ bill_form.total.id_for_label }}" class="form-label">Total
                                    (INR)</label>
                                {% render_field bill_form.total class="form-control" %}
                                {{ bill_form.total.errors }}
                            </div>
                        </div>
                        <!-- Notes -->
                        <div class="row m-3">
                            <label for="{{ bill_form.note.id_for_label }}"
                                   class="form-label">Note</label>
                            {% render_field bill_form.note class="form-control" %}
                            {{ bill_form.note.errors }}
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock %}

{% block js1 %}
    <script src="{% static 'assets/js/image-zoom.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#bill_image").uberZoom({
                width: 520,
                height: 600,
                fullscreen: true,
                maxZoom: 3,
                startInFullscreen: false,
                navigator: true,
                navigatorImagePreview: true,
                rubberband: false
            });
        });
    </script>

    <!--select2 cdn-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="{% static 'assets/js/pages/select2.init.js' %}"></script>

    <!-- Script to Fetch Tax Data and Update Dropdown, with Django URL -->

{% endblock %}








